.button {
  padding: 0.75rem 2.75rem;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: var(--border-radius-md);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.primary {
  background-color: var(--primary-200);
  color: var(--white);
  &:hover {
    background-color: var(--primary-300);
  }
  &:active {
    background-color: var(--primary-200);
  }
  &:focus {
    border: 1px solid var(--primary-100);
    outline: none;
  }
}
.outline-primary {
  background-color: var(--white);
  color: var(--primary-200);
  border: 1px solid var(--primary-200);
  &:hover {
    background-color: var(--gray-200);
  }
  &:active {
    background-color: var(--white);
  }
  &:focus {
    border: 1px solid var(--primary-100);
    outline: none;
  }
}
