.detail {
  border: 1px solid transparent;
  font-size: 1rem;
  background-color: var(--primary-500);
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  border-radius: var(--border-radius-sm);
  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  @media (min-width: 750px) {
    flex-direction: row;
  }
}
.img {
  width: 100px;
  height: 100px;
}
.image {
  align-self: center;
  margin-bottom: 0.75rem;

  @media (min-width: 750px) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.text {
  & h2 {
    text-transform: capitalize;
  }
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  position: static;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 0;
  width: 0;
}
.container--active {
  position: fixed;
  height: initial;
  width: initial;
}
.content {
  background-color: var(--white);
  max-width: 600px;
  padding: 20px 32px 52px 32px;
  border-radius: var(--border-radius-lg);
  transform: scale(0);
  opacity: 0;
}
.content--active {
  transform: scale(1);
  opacity: 1;
  transition: all ease-in-out 150ms;
}
.close {
  display: flex;
  justify-content: flex-end;
  & svg {
    font-size: 2rem;
    color: var(--primary-300);
  }
}
.challenges,
.stack,
.time,
.url {
  margin-bottom: 0.75rem;
}
.challenges {
}
.stack {
}
.stackTags {
  display: flex;
  flex-flow: row wrap;
  & div {
    pointer-events: none;
  }
}
